.card-body{
background-color: rgb(214, 209, 209);
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #FFDAB9, #FFA500, #FF6347);

}

